.modal-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem !important;
  }
  
  .edit{
    color:darkgray; 
  }
  
  .edit:hover{
    color:lightblue;
  }
  
  .cardList {
    padding: 15px;
  }

  .cardCustom{
    margin-top:20px;
    width: 18rem;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:40px;
    background-color:rgba(255, 0, 0, 0.1);
  }

  .cardCustom:hover{
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s;
  }

  .footerButton{
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    cursor: pointer;
  }


  .showModalSize{
    height:15rem;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap
  }
  
  .searchInput{
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;

  }

  i.fa:hover{
    background-color: whitesmoke;
    color:black;
    transition: background-color 0.3s;
  }


  

  @media only screen and (min-width: 800px) {
    .cardList{
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 0.5rem;
      grid-gap: 10px;

    }

    .showModalSize{
      height:25rem;
      overflow-y: scroll;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      white-space: pre-wrap
    }

    .searchInput{
      width: 50%;
      margin: 20px auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
  }

  .dispnone{
    display: none;
  }